@font-face {
  font-family: "plain-light";
  src: url("./font/plain-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "plain-regular";
  src: url("./font/plain-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "silkserif-lightitalic";
  src: url("./font/silkserif-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "silkserif-regularitalic";
  src: url("./font/silkserif-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
ul {
  list-style-type: none;
  padding: 0;
}
:root {
  --theme-bg: black;
  --theme-text: white;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "plain-light";
}
body[theme="dark"] {
  background-color: var(--theme-bg);
  color: var(--theme-text);
}

#main {
  position: relative;
}
.bound {
  overflow: hidden;
  height: fit-content;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
#cursor {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 9999;
  mix-blend-mode: difference;
  pointer-events: none;
}
/* loader */
#loader {
  /* display: none; */
  width: 100%;
  height: 100%;
  background-color: var(--theme-bg);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: max(10vw, 2rem);
  z-index: 2;
}
#loader .bound {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#loader .bound h3 {
  font-size: max(8vw, 2.4rem);
  text-transform: uppercase;
}
#loader .bound h4 {
  font-size: max(4vw, 2rem);
  font-weight: 500;
  font-family: silkserif-lightitalic;
}
#loader .bound h4.loaderCounter {
  display: flex;
  gap: 0.5rem;
}
#loader .bound h4.loaderCounter span.count {
  width: max(6vw, 3rem);
}

.fadingInOut {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: transparent;
  -webkit-text-stroke: 0.4px white;
  opacity: 0;
}
@keyframes fadeInOut {
  0% {
    font-family: "plain-light";
    color: transparent;
    opacity: 1;
  }
  48% {
    font-family: "plain-light";
    color: transparent;
    opacity: 0;
  }
  50% {
    font-family: "silkserif-regularitalic";
    color: white;
    opacity: 1;
  }
  100% {
    font-family: "silkserif-regularitalic";
    color: white;
    opacity: 0;
  }
}

/*2.----------- header css */
header {
  /* background-color: red; */
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header nav .logo {
  width: max(10vw, 100px);
  flex-shrink: 0;
}
header nav .logo img {
  filter: invert(100);
}
header nav ul.menu {
  display: flex;
  gap: 1rem;
}
header nav ul.menu li a {
  text-transform: uppercase;
  display: inline-block;
}

/* 3.-----------------------heroSection */
.heroSection {
  font-family: "plain-regular";
}
.heroSection .container {
  padding: clamp(2rem, 5vw, 100px) 1rem;
}

.heroSection .container .bound,
.heroSection .container .sectionCount {
  margin-left: clamp(2rem, 10vw, 200px);
  height: fit-content;
  display: flex;
}
.heroSection .container .sectionCount > .bound {
  margin: 0;
}
.heroSection .container .sectionCount {
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  overflow: visible;
}
.heroSection .container .sectionCount::before {
  content: "01";
  position: absolute;
  font-size: clamp(2rem, 3vw, 100px);
  font-family: "silkserif-regularitalic";
  transform: translateX(-150%);
}
.heroSection .container .bound h2 {
  font-size: clamp(2rem, 8vw, 140px);
  text-transform: uppercase;
  line-height: 1;
  padding-bottom: 0.5rem;
}
.heroSection .container .bound h2 span {
  /* background-color: red; */
  display: inline-block;
  position: relative;
  isolation: isolate;
}
.heroSection .container .bound h2 span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: clamp(4px, 2vw, 6px);
  background-color: white;
}
.heroSection .container .bound h2 span:hover {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-weight: 100;
}
