@font-face {
  font-family: "plain-light";
  src: url("./font/plain-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "plain-regular";
  src: url("./font/plain-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "silkserif-lightitalic";
  src: url("./font/silkserif-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "silkserif-regularitalic";
  src: url("./font/silkserif-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
ul{
    list-style-type: none;
    padding: 0;
}
:root {
  --theme-bg: black;
  --theme-text: white;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "plain-light";
}
body[theme="dark"] {
  background-color: var(--theme-bg);
  color: var(--theme-text);
}

#main {
  position: relative;
}
.bound {
  overflow: hidden;
  height: fit-content;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
}
/* loader */
#loader {
    display: none;
  width: 100%;
  height: 100%;
  background-color: var(--theme-bg);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: max(10vw, 2rem);
}
#loader .bound {
  display: flex;
  gap: 1rem;
  align-items: center;
}
#loader .bound h3 {
  font-size: max(8vw, 2.4rem);
  text-transform: uppercase;
}
#loader .bound h4 {
  font-size: max(4vw, 2rem);
  font-weight: 500;
  font-family: silkserif-lightitalic;
}
#loader .bound h4.loaderCounter {
  display: flex;
  gap: 0.5rem;
}
#loader .bound h4.loaderCounter span.count {
  width: max(6vw, 3rem);
}

.fadingInOut {
  animation-name: fadeInOut;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  color: transparent;
  -webkit-text-stroke: 0.4px white;
}
@keyframes fadeInOut {
  0% {
    font-family: "plain-light";
    color: transparent;
    opacity: 1;
  }
  48% {
    font-family: "plain-light";
    color: transparent;
    opacity: 0;
  }
  50% {
    font-family: "silkserif-regularitalic";
    color: white;
    opacity: 1;
  }
  100% {
    font-family: "silkserif-regularitalic";
    color: white;
    opacity: 0;
  }
}


/*2.----------- header css */
header{
    /* background-color: red; */
}
header nav{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
}
header nav .logo{
    width: max(10vw,100px);
    flex-shrink: 0;
}
header nav .logo img {
  filter: invert(100);
}
header nav ul.menu{
    display: flex;
    gap: 1rem;
}
header nav ul.menu li a{
    text-transform: uppercase;
}