*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;

}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
    color: white;
    font-family: 'premier 2019';
}

/* globally used classes */
section{
    min-height: 100vh;
    display: flex;
    padding: 1rem;
}
.wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

/* wrapper of all elements */
/* main {
    
} */

#page1{
    width: 100%;
    height: 100vh;
    background-color: crimson;
}

#page2{
    width: 100%;
    height: 100vh;
    background-color: royalblue;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: chocolate;
}

#page1 h1,
#page2 h1,
#page3 h1
{
    font-size: clamp(3rem,9vw,10rem);
    margin: 0 auto;
    width: fit-content;
    transform: translateY(-50%);
    top: 50%;
    position: relative;
    text-align: center;
    background-color: black;
}

.box{
    width: 300px;
    height: 300px;
    background-color: antiquewhite;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.395);
}