/* base css */
@font-face {
  font-family: Heading;
  src: url("./assets/font/FoundersGrotesk-Bold.otf");
}
@font-face {
  font-family: Para;
  src: url("./assets/font/FoundersGrotesk-Light.otf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Heading;
}
p {
  font-family: Para;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
}

/* 1,=========================================== header css */
header {
  height: 60px;
  background-color: #262626;
}
/* hero Section css */
#heroSection {
  background-color: #333;
  color: white;
}

#heroSection .wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
#heroSection .wrapper .heroLeft {
  padding: 1rem;
}
#heroSection .wrapper .heroLeft .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#heroSection .wrapper .heroLeft h2 {
  text-transform: uppercase;
  font-size: clamp(2rem, 5vw, 5rem);
  line-height: 1em;
}

#heroSection .wrapper .heroLeft .content h2 span {
  color: coral;
}
#heroSection .wrapper .heroLeft .content p {
  font-size: clamp(1rem, 1.3vw, 1.3rem);
  font-weight: 500;
}
#heroSection .wrapper .heroLeft .content .heroBtn {
  padding: 0.6rem 0.9rem;
  background-color: rgb(186, 81, 43);
  color: white;
  display: flex;
  width: fit-content;
  font-family: Heading;
  justify-content: center;
  align-items: center;
}
#heroSection .wrapper .heroRight {
  padding: 1rem;
  height: clamp(200px, 30vw, 600px);
}
.sliderContainer {
  position: relative;
  isolation: isolate;
  height: 100%;
  overflow: hidden;
  padding-bottom: 2rem;
}
.sliderContainer .slideBox {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}
.sliderContainer .slideBox:nth-child(1) {
  display: block;
}
.sliderContainer .slideBox .imgBox {
  height: 100%;
  display: flex;
}

.sliderContainer .slideBox h2 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: royalblue;
  font-size: clamp(2rem, 8vw, 8rem);
  text-transform: uppercase;
  z-index: -1;
}
.sliderContainer .slideBox h2:nth-child(2) {
  color: transparent; /* Text color */
  -webkit-text-stroke: 2px rgb(255, 255, 255);
  z-index: 1;
}
.sliderContainer .slideController span {
  display: flex;
  background-color: darksalmon;
  color: black;
  text-transform: uppercase;
  font-family: Heading;
  width: fit-content;
  padding: 0.5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
}
.sliderContainer .slideController span#left {
  left: 0;
}
.sliderContainer .slideController span#right {
  right: 0;
}
.sliderContainer .slidePagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -0%;
  width: 100%;
}
.sliderContainer .slidePagination span {
  width: 25px;
  height: 25px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  isolation: isolate;
}
.sliderContainer .slidePagination span .fill {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: royalblue;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: scaleX(0%);
  transform-origin: left;
}
/* 2.=========================================titledGrid css */
.titledGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  /* perspective: 1000px; */
  /* transform-style: preserve-3d; */
}
.titledGrid .card {
  height: 400px;
  background-color: #333;
  border-radius: 1rem;
}

/* ======================= slider2 css */
#slider2 {
  background-color: #dadada;
}
#slider2 .wrapper {
  position: relative;
  isolation: isolate;
  padding: 0;
}
#slider2 .wrapper .navigators {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}
#slider2 .wrapper .navigators span{
  background-color: white;
  text-transform: uppercase;
  padding: 0.5rem;
  cursor: pointer;
  user-select: none;
}
#slider2 .wrapper .navigators span:hover{
  opacity: 0.8;
}
.slider2Container {
  display: flex;
  overflow: hidden;
}
.slider2Container .slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  flex-shrink: 0;
  height: 500px;
}
.slider2Container .slide h1 {
  font-size: clamp(2rem, 6vw, 5rem);
}
#slider2 .wrapper .indicators{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-block: 0.5rem;
}
#slider2 .wrapper .indicators span {
  display: flex;
  width: 2rem;
  height: 2rem;
  background-color: black;
  cursor: pointer;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 4px;
}
#slider2 .wrapper .indicators span:hover{
  opacity: 1;
}

/* =====================================page3 */
#page3 {
  height: 100vh;
}

/* experiences around us */
#container {
  width: 100%;
  height: 100vh;
  background-color: royalblue;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#container h2 {
  font-size: clamp(2rem, 40vw, 20rem);
  white-space: nowrap;
}

/* ==============================horizontalContainer */
#horizontalContainer {
  width: 100%;
  height: 100vh;
  max-width: 1330px;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  overflow-x: hidden;
}
#horizontalContainer .item {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
  position: relative;
  isolation: isolate;
}
#horizontalContainer .item:nth-child(2n) {
  background-color: aquamarine;
}
#horizontalContainer .item h2 {
  font-size: clamp(2rem, 6vw, 5rem);
  text-transform: uppercase;
}
#horizontalContainer .item .indicatorBox {
  width: 100px;
  height: 100px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  z-index: -1;
}
